<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Infra as a code demo</title>

</head>
<body>

  <h1>Current server: {{ ansible_eth0.ipv4.address }}</h1>

  <p>This page is managed by Ansible</p>

</body>
</html>
